<!doctype html>
<html lang="ar">
<head>
	<title>{% block title %}Ammar's Restraunt{% endblock %}</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{static 'css/bootstrap.min.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="my-style.css" type="text/css" />
	


	<style type="text/css">
		html,
		body {
			height:100%
		}
		{% include "main_stuff/includes/style.css" %}
	</style>
</head>
	<body>
		<div class="header"><br />
			<div class="container">
				<h1>الحمد لله</h1>
				 <a class="btn" href="/contact/">تواصل معي</a><br /><br /><br /><br /><br /><br />
				 <a class="btn" href="#">عن الموقع</a>
			</div>
		</div>
		<div class="nav">
      <div class="container">
        <ul>
          <a href="/"><li>الصفحة الرئيسية</li></a>
          <li>اذكار المساء</li>
          <li>القرآن الكريم</li>
          <li>اذكار النوم</li>
          <li>اذكار الصباح</li>
        </ul>
      </div>
    </div>
    <style>
    #latest {
      color: pink;
    }
  </style>
 

    {% block content %}
    {% endblock %}
    <br /><br /><br /><br />
    <div class="jumbotron">
      <div class="container">
        <h2>إنظم إلي!</h2>
        <p>شاركني في تطوير الموقع برمجيا او عبر ارسالك ملاحظاتك في طور المدونة</p>
        <a class="btn" href="#">إنظم</a>
      </div>
    </div>


     <div class="footer">
      <div class="container">
        <p>&copy; إن أردت ان لا تندم على شيئ فافعل كل شي خالصا لوجه الله</p>
      </div>
    </div>
	</body>
</html>